target
*.iml
.settings
.classpath
.project
*.log
*.ipr
*.iws
.idea
.DS_Store
dist
src/test/resources/conf/config.yaml
src/test/resources/conf/dummy-config.yaml
src/test/resources/conf/invalid_config.yaml
src/test/resources/conf/itest-config.yaml
src/test/resources/conf/new-config.yml
